# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Data & Models
backend/app/Diagnosis_flowchart/
model_cache/
postgres_data/
.qdrant_storage/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints
